ipdb
ipykernel
matplotlib
numpy
pandas
pytest
# scikit-learn
yapf

# Trick to install the version of Tensorflow depending on your processor: darwin == Mac, ARM == M1
tensorflow-macos==2.10.0; sys_platform == 'darwin' and 'ARM' in platform_version # Mac M-chips
tensorflow==2.10.0; sys_platform == 'darwin' and 'ARM' not in platform_version # Mac Intel chips
tensorflow==2.10.0; sys_platform != 'darwin' # Windows & Ubuntu Intel chips

# prevent bq 3+ db-dtypes package error when running training from bq
google-cloud-storage
gcsfs
s3fs
pyarrow

mlflow~=1.26.1

python-dotenv

# API
fastapi
pytz
uvicorn

# tests
httpx
pytest-asyncio

# NLP
nltk
transformers
wordcloud
sentencepiece
spacy
bertopic
hdbscan
umap-learn
sentence-transformers
